<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62983/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="WSHttpBinding_IService1">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAASHQxCq7l179baHv5+6bJI8stGsgAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhBbe1cE1P2TkUwiMKNHCGqxMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMjEwMTEyMjEwMjQ1WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlXQ2ZTZXJ2ZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDFv2IrsJ9RlWTFy9rGc1HfB3iteS3a3pDTr70PlxEsEm/b44L4ZKEbVunssNiNGs0eUjvfs2qGm5w/F+tc2ENAEecWNEfVNaPV8exfryLPrk0MrHT5w4HNxCnPHNzmQXKX6AZe+W6uLpRS2T0yDViGbAMGEnrNDTNtRyBqZnqAX/3OKDjHlHwTFBX5LDpP0/QfIRbA5kjG5kybKYISLo3XnH5a7REN9SVmLBBqRJmURXjtLoUYY0XbRunon46EYPa46TuKUrsGFrPx3ITxw3kqXx3FUO9D5gwP2xuKiNXGS9tsdqWi9eWYlbGx14rO9euhiCRixFsZwfq9KbNWY/8RAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EARn7a+tRQyEW4OifJpykqCbe1dwLl5q6/Vqwa/glih4l4IpYADbvk4FrGoL1KwSdU6qk9lRi2SE5Jv2gN1LoRGw==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>